<% provide(:title, 'index') %>

<div class="col-12">
  <%= will_paginate(@users, class: "pagination justify-content-center",
                          renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <div class="mx-auto text-center"><h1>ユーザー一覧</h1></div><br>
  <table class="table" id="table-users">
    <thead class="thead-dark">
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th>編集</th>
        <th>削除</th>
        <th>Room Nameの設定</th>
        <th>Room Name</th>
        <th>Video_Chat</th>
        <th>Android_chat</th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td><%= link_to "編集", edit_user_path(user), class: "btn btn-success" %></td>
        <td>
          <%= link_to "削除", user, method: :delete,
            data: { confirm: "削除してよろしいですか？" },
            class: "btn btn-danger" %>
        </td>
        <td>
          <%= link_to "Video_Chat_password", secret_word_user_path(user), remote: true, class: "btn btn-info" %>
        </td>
        <td>
          <%= user.secret_word %>
        </td>
        <td>
          <%= link_to "Video_Chat", video_chat_user_path(user), class: "btn btn-warning" %>
        </td>
        <td>
          <%= link_to "Android_chat",  android_video_user_path(user), class: "btn btn-primary" %>
        </td>
      </tr>
    <% end %>
  </table><br>
  <div class="text-center">
    <%= link_to "マイページ", user_path(current_user), class: "btn btn-lg btn-primary" %>
  </div>

  <%= will_paginate(@users, class: "pagination justify-content-center",
                          renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>

<div id="secret-word" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
